[submodule "h2"]
	path = h2
	url = https://github.com/openebs/h2.git
	branch = v0.3-auth-fix
[submodule "rust-git-version"]
	path = rust-git-version
	url = https://github.com/openebs/rust-git-version.git
	branch = mayastor
